{
  "plugins": [
    "prettier-plugin-astro",
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    ".*\\.css$",
    "^@/layouts/(.*)$",
    "^astro",
    "^react",
    "^(?!@)keystatic|^@keystatic",
    "<THIRD_PARTY_MODULES>",
    "^@/utils/(.*)$",
    "^@/lib/(.*)$",
    "^@/hooks/(.*)$",
    "^@/stores/(.*)$",
    "^@/schemas/(.*)$",
    "^@/components/(.*)$",
    "^@remixicon/react$",
    "^lucide-react$",
    "^[./]"
  ],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
