---
import "@/styles/global.css";
import Layout from "@/layouts/main.astro";
import {
  RiBlueskyFill,
  RiFacebookCircleFill,
  RiGithubFill,
  RiInstagramLine,
  RiLinkedinFill,
  RiTwitterXFill,
  type RemixiconComponentType,
} from "@remixicon/react";
import ScrambleText from "@/components/ScrambleText";
import { createReader } from "@keystatic/core/reader";
import keystaticConfig from "keystatic.config";
import Markdoc, { type Node } from "@markdoc/markdoc";

const reader = createReader(process.cwd(), keystaticConfig);
const sidebar = await reader.singletons.sidebar.read();

const iconMap: Record<string, RemixiconComponentType> = {
  github: RiGithubFill,
  linkedin: RiLinkedinFill,
  facebook: RiFacebookCircleFill,
  instagram: RiInstagramLine,
  x: RiTwitterXFill,
  bluesky: RiBlueskyFill,
};
---

<Layout content={{ title: "Xzit" }}>
  <div class="mx-auto w-full max-w-7xl">
    <div class="flex flex-col gap-x-12 gap-y-8 p-4 md:p-8 lg:flex-row">
      <div
        class="z-40 flex w-full flex-col gap-8 lg:sticky lg:top-24 lg:max-w-xs lg:self-start"
      >
        <div class="flex flex-col gap-4">
          <h1 class="font-heading text-7xl">
            <ScrambleText text={sidebar?.about.title} client:load />
          </h1>
          <div
            class="text-muted-foreground -indent-1 text-lg text-balance hyphens-auto [&_a]:underline [&_a:hover]:no-underline [&_article]:space-y-4"
            set:html={Markdoc.renderers.html(
              Markdoc.transform(sidebar?.about.description?.node as Node),
            )}
          />
        </div>
        <div class="flex gap-4">
          {
            sidebar?.social?.map(({ url, label }) => {
              const Icon = iconMap[label];
              return (
                <a
                  href={url}
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label={label}
                  class="text-foreground hover:text-muted-foreground transition-colors"
                >
                  {Icon && <Icon className="size-7" />}
                </a>
              );
            })
          }
        </div>
      </div>
      <div class="flex-1 space-y-6"></div>
    </div>
  </div>
</Layout>
