---
import {
  Card,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import { GitHubRepo } from "@/components/GithubRepo";

const { items } = Astro.props;
---

<div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
  {
    items.map((project: any) => (
      <Card className="grid grid-rows-[1fr_auto]">
        <CardHeader>
          <CardTitle className="text-xl">
            <a
              href={project.url}
              target="_blank"
              rel="noopener"
              class="hover:bg-foreground hover:text-background inline-flex flex-col underline hover:no-underline"
            >
              {project.title}
            </a>
          </CardTitle>
          <CardDescription className="flex items-center gap-3">
            <p>{project.description}</p>
          </CardDescription>
        </CardHeader>
        <CardFooter className="flex items-center gap-2">
          {project.github && (
            <div class="flex items-center gap-2">
              <GitHubRepo repo={project.github} client:load />
            </div>
          )}
        </CardFooter>
      </Card>
    ))
  }
</div>
