---
import keystaticConfig from "keystatic.config";
import { createReader } from "@keystatic/core/reader";

import LiveClock from "@/components/LiveClock";
import ScrambleText from "@/components/ScrambleText";

const { title } = Astro.props;

const reader = createReader(process.cwd(), keystaticConfig);
const settings = await reader.singletons.settings.read();
---

<footer class="w-full border-t">
  <div class="mx-auto">
    <div class="grid justify-between text-sm md:grid-cols-3">
      <div
        class="col-span-2 row-span-2 flex flex-col justify-between gap-12 p-4 py-6 md:col-span-1 md:border-r md:px-8"
      >
        <div class="space-y-4">
          <div>
            <a href="/" class="inline-flex">
              <svg
                width="100%"
                height="100%"
                viewBox="0 0 64 14"
                fill="currentColor"
                class="max-w-[160px]"
              >
                <g transform="matrix(1.59776,0,0,1.66667,-19.4501,0.393639)">
                  <path
                    d="M19.805,5.56L19.805,6.208L21.749,8.164L24.221,8.164L24.221,5.692L22.769,5.692L21.221,4.144L19.805,5.56ZM12.173,-0.236L12.173,2.236L13.613,2.236L15.173,3.784L16.589,2.368L16.589,1.72L14.645,-0.236L12.173,-0.236ZM21.749,-0.236L18.785,2.74L16.577,2.74L13.613,5.692L12.173,5.692L12.173,8.164L14.645,8.164L17.597,5.2L19.805,5.2L22.769,2.236L24.221,2.236L24.221,-0.236L21.749,-0.236Z"
                  ></path>
                  <path
                    d="M24.701,-0.236L24.701,2.236L34.277,2.236L31.061,5.452L34.553,5.452L36.749,3.256L36.749,-0.236L24.701,-0.236ZM26.897,2.476L24.701,4.672L24.701,8.164L36.749,8.164L36.749,5.692L27.173,5.692L30.389,2.476L26.897,2.476Z"
                  ></path>
                  <rect x="37.229" y="-0.236" width="2.472" height="8.4"></rect>
                  <path
                    d="M40.181,-0.236L40.181,2.236L44.465,2.236L44.969,2.728L44.969,8.164L47.441,8.164L47.441,1.708L45.497,-0.236L40.181,-0.236ZM46.565,-0.236L46.565,0.484L48.317,2.236L52.229,2.236L52.229,-0.236L46.565,-0.236Z"
                  ></path>
                </g>
              </svg>
            </a>
          </div>
          <div class="text-muted-foreground">
            <p>
              &gt; <ScrambleText text="SYSTEM TIME" client:load />:
              <LiveClock
                timezone={settings?.footer.timezone}
                client:only="react"
              />
            </p>
            <p>
              &gt; <ScrambleText text="LOCATION" client:load />: {
                settings?.footer.location
              }
            </p>
            <p>
              &gt; <ScrambleText text="COORDINATES" client:load />: {
                settings?.footer.coordinates
              }
            </p>
          </div>
        </div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 340 84"
          class="max-w-60"
        >
          <path
            d="M10 10L31 10L31 74L10 74ZM34 10L37 10L37 74L34 74ZM39 10L42 10L42 74L39 74ZM45 10L47 10L47 74L45 74ZM55 10L69 10L69 37L66 37L66 28L63 28L63 37L61 37L61 28L58 28L58 37L61 37L61 56L63 56L63 37L66 37L66 56L69 56L69 74L66 74L66 65L63 65L63 74L55 74ZM71 10L74 10L74 28L71 28ZM77 10L79 10L79 28L85 28L85 37L79 37L79 47L77 47L77 56L74 56L74 65L71 65L71 56L69 56L69 37L74 37L74 28L77 28ZM82 10L95 10L95 19L93 19L93 28L87 28L87 19L82 19ZM101 10L109 10L109 28L106 28L106 19L103 19L103 37L106 37L106 47L111 47L111 37L109 37L109 28L114 28L114 37L117 37L117 74L111 74L111 65L109 65L109 74L101 74ZM111 10L114 10L114 19L111 19ZM117 10L122 10L122 19L125 19L125 10L135 10L135 19L130 19L130 28L127 28L127 47L125 47L125 37L122 37L122 28L119 28L119 19L117 19ZM146 10L149 10L149 19L151 19L151 28L149 28L149 47L154 47L154 37L157 37L157 47L159 47L159 56L162 56L162 74L159 74L159 65L154 65L154 56L149 56L149 74L146 74ZM159 10L165 10L165 19L159 19ZM167 10L178 10L178 19L175 19L175 28L181 28L181 10L189 10L189 19L186 19L186 28L183 28L183 37L173 37L173 28L170 28L170 65L165 65L165 19L167 19ZM191 10L197 10L197 19L199 19L199 28L202 28L202 47L205 47L205 19L207 19L207 65L210 65L210 74L202 74L202 65L199 65L199 56L194 56L194 74L191 74ZM199 10L202 10L202 19L199 19ZM213 10L215 10L215 19L218 19L218 28L221 28L221 37L229 37L229 47L226 47L226 56L229 56L229 47L234 47L234 65L229 65L229 74L226 74L226 65L223 65L223 47L218 47L218 37L213 37L213 47L210 47L210 19L213 19ZM223 10L229 10L229 19L223 19ZM237 10L250 10L250 19L247 19L247 65L245 65L245 74L237 74ZM253 10L255 10L255 19L253 19ZM258 10L261 10L261 19L258 19ZM263 10L277 10L277 19L266 19L266 28L274 28L274 37L279 37L279 47L277 47L277 56L269 56L269 47L266 47L266 37L261 37L261 28L263 28ZM282 10L301 10L301 74L282 74ZM303 10L306 10L306 74L303 74ZM314 10L317 10L317 74L314 74ZM319 10L322 10L322 74L319 74ZM327 10L330 10L330 74L327 74ZM138 19L141 19L141 37L130 37L130 28L138 28ZM154 19L157 19L157 28L154 28ZM229 19L234 19L234 28L231 28L231 37L229 37ZM250 19L253 19L253 37L261 37L261 47L263 47L263 56L266 56L266 65L263 65L263 74L255 74L255 47L253 47L253 65L250 65ZM255 19L258 19L258 28L255 28ZM157 28L162 28L162 37L157 37ZM242 28L242 47L245 47L245 28ZM85 37L98 37L98 47L90 47L90 56L87 56L87 47L85 47ZM141 37L143 37L143 47L141 47ZM183 37L189 37L189 56L186 56L186 47L183 47ZM119 47L125 47L125 56L119 56ZM127 47L130 47L130 56L127 56ZM135 47L141 47L141 56L138 56L138 65L135 65L135 74L130 74L130 65L133 65L133 56L135 56ZM178 47L181 47L181 56L183 56L183 65L181 65L181 74L178 74L178 65L175 65L175 56L178 56ZM213 47L218 47L218 56L221 56L221 74L213 74ZM77 56L87 56L87 65L90 65L90 56L95 56L95 65L98 65L98 74L85 74L85 65L82 65L82 74L74 74L74 65L77 65ZM125 56L127 56L127 74L125 74ZM141 56L143 56L143 65L141 65ZM277 56L279 56L279 74L266 74L266 65L277 65ZM173 65L175 65L175 74L173 74ZM247 65L250 65L250 74L247 74Z"
            fill="currentColor"></path>
        </svg>
      </div>
      <div
        class="col-span-2 h-min w-full flex-1 border-t px-4 py-6 md:border-t-0 md:p-6"
      >
        <div class="flex w-full justify-between gap-4">
          {
            settings?.email && (
              <div class="space-y-2 text-2xl/6">
                <div>Send me a pull request</div>
                <div>
                  <a
                    href={`mailto:${settings?.email}`}
                    class="hover:bg-foreground hover:text-background inline-flex font-bold underline hover:no-underline"
                  >
                    mailto:{settings?.email}
                  </a>
                </div>
              </div>
            )
          }
        </div>
      </div>
      <div class="col-span-2 h-min w-full self-end border-t px-4 py-6 md:p-6">
        <div
          class="flex w-full flex-col-reverse items-center justify-center gap-4 self-end md:flex-row md:justify-between"
        >
          <span class="text-center md:text-left"
            >&copy; {new Date().getFullYear()}
            {title}. All rights reserved.</span
          >
          <a href="/privacy" class="underline hover:no-underline">
            Privacy Policy
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
