---
import { cn } from "@/lib/utils";
import { ModeToggle } from "./ModeToggle";
import { buttonVariants } from "@/components/ui/button";
import { RiArrowRightLongLine } from "@remixicon/react";
import RandomText from "@/components/RandomText";
---

<div class="bg-background sticky top-0 z-50 border-b">
  <div class="mx-auto flex items-center justify-between">
    <div class="w-full max-w-[130px] border-r sm:max-w-[200px]">
      <a
        href="/"
        class="bg-foreground text-background outline-foreground relative z-10 inline-flex h-16 w-full items-center justify-center text-lg font-bold outline-1"
        >&lt;XZIT/&gt;</a
      >
    </div>
    <!-- <div class="hidden text-sm lg:flex">
      <RandomText client:load />
    </div> -->
    <div class="flex items-center">
      <div class="border-x">
        <ModeToggle client:load />
      </div>
      <a
        href="/about"
        class={cn(
          buttonVariants({ variant: "ghost" }),
          "h-16 !py-4 !px-6 lg:!px-8 text-base uppercase",
        )}
      >
        Sobre mí <RiArrowRightLongLine className="size-5" />
      </a>
    </div>
  </div>
</div>
