---
import Layout from "@/layouts/main.astro";

const { ...page } = Astro.props;
---

<Layout
  title={page.seo?.title || page.title}
  description={page.seo?.description || page.description}
>
  <div class="mx-auto w-full max-w-7xl px-4 py-8 md:px-8 md:py-10">
    <div class="mx-auto flex max-w-2xl flex-col gap-8">
      <div class="flex flex-col gap-4">
        <h1 class="text-4xl">{page.title}</h1>
      </div>
      <div
        class="prose prose-primary text-muted-foreground dark:prose-invert prose-lg mx-auto flex w-full flex-col [&_img]:rounded-xs [&>article>*:first-child]:mt-0 [&>article>*:last-child]:mb-0"
      >
        <slot />
      </div>
    </div>
  </div>
</Layout>
